# Ignore everything except certain files and folders
*
!backgrounds/
!backgrounds/**
!flameshot/
!flameshot/**
!lazygit/
!lazygit/**
!nix/
!nix/**
!nixpkgs/
!nixpkgs/**
!nvim/
!nvim/**
!scripts/
!scripts/**
!tmux/
!tmux/**
!wezterm/
!wezterm/**
!zsh/
!zsh/**
!wez-setup.sh
