# Ignore everything except certain files and folders
*
!backgrounds/
!backgrounds/**
!nix/
!nix/**
!nixpkgs/
!nixpkgs/**
!nvim/
!nvim/**
!scripts/
!scripts/**
!tmux/
!tmux/**
!wezterm/
!wezterm/**
!zsh/
!zsh/**
